#reversi {
    background-color: azure;
}

#reversi-board{
    position: relative;
    width: 320px;
    height: 320px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#canvas-gameboard{
    position: absolute;
    width: 320px;
    height: 320px;
    right: 0;
    bottom: 0;
    clear: both;
}

#statusbar {
    position: relative;
    width: 400px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto;
}

.status {
    float: left;
    width: 200px;
    height: 80px;
    background-color: aliceblue;
}