#reversi {
    background-color: #353535;
}

#reversi-board{
    position: relative;
    width: 320px;
    height: 320px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#canvas-gameboard{
    position: absolute;
    width: 320px;
    height: 320px;
    right: 0;
    bottom: 0;
    clear: both;
}

#statusbar {
    position: relative;
    width: 500px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto;
}

#log {
    position: relative;
    width: 500px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto;
    color: white;
    word-wrap: break-word;
}

.status {
    float: left;
    width: 250px;
    height: 80px;
    color: white;
    background-color: #353535;
}