#reversi {
    /* background: rgb(198, 251, 255); */
}

#com-status-box, #human-status-box {
    width: 341px;
    margin: auto;
}

#com-status-box {
    text-align: right;
}

#reversi-board {
    margin: 10px auto;

    background-color: transparent;

    width: 341px;
    height: 341px;
}

#canvas-gameboard {
    width: 341px;
    height: 341px;
}

#footer {
    margin-top: 70px;
    text-align: center;
}