/* #reversi {
    background-color: floralwhite
} */

#overall-container {
    margin: 10px auto;
}

.num-stone {
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.img-button {
    border: 0;
    background: none;
}

#status-box {
    height: 40px;
    width: 180px;
    margin: auto;
}

#status-box>* {
    display: inline-block;
    vertical-align: top;
}

#button-settings {
    margin-right: 10px
}

#reversi-board {
    margin: 10px auto;

    background-color: transparent;

    width: 338px;
    height: 338px;
}

#canvas-gameboard {
    width: 338px;
    height: 338px;
}

#result-box {
    margin: auto;
    text-align: center;
}

#result-box>* {
    display: inline-block;
}

#controler-box {
    margin:  auto;
    text-align: center;
}

#controler-box>* {
    margin: 0 15px;
}

#record-box {
    margin: 20px auto;
    text-align: center;
}

#record-box>* {
    display: inline-block;
}

#record-text {
    width: 240px;
}

#load-button {
    padding: auto 5px;
}

#footer {
    margin-top: 70px;
    text-align: center;
}